<!DOCTYPE html>

<html>

<head>

<title>宏碁</title>

</head>

<style>

.box1 {
  background-color: #e3ffe3;  
}

.box2 {
  background-color: #ffffcc;
}

.box3 {
  background-color: #e6f9ff;
}

</style>

<body style="background-image: url('https://png.pngtree.com/thumb_back/fh260/background/20220311/pngtree-green-hazy-background-material-ink-plain-color-simple-white-clouds-image_988234.jpg'); background-size: cover; background-repeat: no-repeat;">

<div style="text-align: center; margin-top: 50px;">

<img src="https://news.gbimonthly.com/upload/industry/industry_20220511042428_0.JPG" alt="公司logo" width="200" height="100">

<h1 style="display: inline-block;">宏碁股份有限公司</h1>


<a href="https://www.acer.com/" style="font-weight: bold; border: 2px solid blue; padding: 5px; color: darkblue;font-size: 20px">
宏碁公司簡介
</a>

</div>

<div style="display: flex; justify-content: space-between;">

<div class="box1" style="width: 28%; padding: 20px;border: 0.3cm solid black;font-weight: bold; font-size: 25px;">

<h3 style="text-align:center;">公司介紹</h3>
宏碁股份有限公司成立於1976年,是全球知名的電腦與電子產品公司,長期致力於創新科技的研發,以提供消費者最佳的使用體驗。宏碁推出的產品線廣
泛,包括筆記型電腦、桌上型電腦、平板電腦、智慧型手機、伺服器、顯示器、專業遊戲裝置等。近年宏碁積極整合虛擬實境、人工智慧、物聯網等前瞻科技
於產品,善用科技創新提升生活品質。宏碁不僅提供硬體設備,也開發如雲端服務等完整解決方案,為消費者、企業與機構量身訂做適切的數位產品與服務
</div>

<div class="box2" style="width: 28%; padding: 20px; border: 0.3cm solid black; font-weight: bold; font-size: 25px; text-align: center;">

<h3>職務介紹</h3>

軟體工程師<br>  

韌體工程師<br>

產品測試工程師<br>

UI設計師

</div>

<div class="box3" style="width: 28%; padding: 20px;border: 0.3cm solid black;font-weight: bold; font-size: 25px;">

<h3 style="text-align:center;">工作要求</h3>

工作經歷:1-3年<br>

學歷要求:大學以上<br>

科系要求:電機、資訊工程相關<br>

語文條件:英文中等<br>

擅長工具:C/C++, Python等<br>

工作技能:不拘<br>

其他條件:首選3年Windows應用程式開發、應用程式級API/SDK開發經驗。精通 Javascript、WebVR、A-Frame 和 ReactVR 框架。3 年 Android/或
iOS 應用程式開發經驗。

</div>

</div>

</body>

</html>